.figure {
    width: 600px;
    height: 600px;
    border: solid black 1px;
    cursor: grab;
}

.cursor {
  cursor: pointer;
}

aside {
    border: solid black 1px;
    width: 100%;
}



main {
    display: flex;
}
