<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/graph_display.css') }}" />
    <title></title>
  </head>
  <body>
  <header>
      <div class="topnav">
          <a href="/">Accueil</a>
      </div>
  </header>
  <main>
    <section>
      <div class="figure">

      </div>
    </section>
      <aside>
         <div class="graph-infos">
           <h1> Graph information: </h1>
           <ul>
             <li class="nbNodes">Number of nodes : </li>
             <li class="nbEdges">Number of edges : </li>
             <li class="graphDensity">Graph Density : </li>
             <li class="averagePathLength">Average path length : </li>
           </ul>
         </div>
         <br/>
         <div class="nodes-infos">
           <h1> Node information : </h1>
           <ul></ul>
         </div>

         <div class="infos-edges">
           <h1> Edge information : </h1>
            <ul></ul>
         </div>
         <div class="general-infos-clusters">
           <h1> Clusters general informations : </h1>
           <ul></ul>
         </div>

          <div class="infos-cluster">
              <h1> Current cluster informations  : </h1>
              <ul></ul>
          </div>
    </aside>
  </main>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.15.0/d3.min.js" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='assets/js/graph_display.js') }}"></script>
  </body>
</html>
